################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersistenceLayer/.vs/PersistenceLayer
/.vs
/PersistenceLayer/PersistenceLayer/obj
/PersistenceLayer/.vs/ProjectEvaluation
